backcall
blinker==1.4
brotlipy==0.7.0
certifi==2021.5.30
cffi==1.14.0
chardet
click
colorama
cryptography==2.9.2
cycler==0.10.0
deap
decorator
et-xmlfile==1.1.0
Flask
Flask-Caching
Flask-Mail==0.9.1
flask-swagger-ui==3.25.0
hydrus-api==2.12.0
idna
ipykernel
ipython
ipython-genutils
itsdangerous==1.1.0
jdcal==1.4.1
jedi
Jinja2
joblib
jsonify==0.5
jupyter-client
jupyter-core
kiwisolver
MarkupSafe==1.1.1
matplotlib
matplotlib-inline
numpy
olefile==0.46
openpyxl
pandas
pandas-profiling==1.4.1
parso
pickleshare
Pillow
prompt-toolkit
pycparser
Pygments
PyJWT==1.7.1
pyodbc
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-utils==2.4.0
pytz==2020.1
pyzmq==20.0.0
repoze.lru==0.7
requests
Routes
scikit-learn
scipy
seaborn
sip==5.0.0
six
sklearn
stopit==1.1.2
threadpoolctl
tornado
TPOT
tqdm
traitlets
update-checker
urllib3==1.25.9
waitress
wcwidth
Werkzeug
win-inet-pton
wincertstore==0.2
xgboost==1.1.1
xlrd
yellowbrick
